@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*=================(VARIABLES)==================*/
$font-family: "Public Sans", serif;
$font-family2: "Nunito", sans-serif;
$body-color: #f2f2f2;
$white-color: #fff;
$color-primary: #ebebeb;
$color-secondary: #ebc751;
$color-tertiary: #aa8a21;
$color-placeholder-1: #b4bdc6;
$color-placeholder: #b6b6b6;
$color-purple: #696cff;
$color-text: #566a7f;
$color-effect1: #cacbffc2;
$color-effect2: #e1caffbb;
$color-text-secondary: #5f6e7f;
$color-focus-outline: #e9d079;
$color-shadow: #bbbbbb52;
$color-border: #f0f0f0;
$color-btn-primary: #c69e1b;
$color-input-bg: #f3f3f3;
$gradient-primary: linear-gradient(
  1deg,
  $color-tertiary,
  #c49f26,
  $color-secondary
);
$color-shadow-light: #9c9c9c0a;
$color-attendant-bg: #f3c42a1f;
$color-attendant-text: #d6ab1d;
$color-attended-bg: #d9d9d945;
$color-attended-text: #949494;
$color-date: #93a1b1;
$color-status-bg: #d9d9d929;
$color-status-in-progress: #5ced0e;
$color-status-circle-external: #d1ffb9;
$color-status-open: #ffb94a;
$color-status-circle-open-external: #ffc26054;
$color-status-paused-bg: #ffc26029;
$color-status-canceled-bg: #ff949429;
$color-status-canceled: #ff9494;
$color-status-finished-bg: #d1ffb97d;
$color-text-shadow: rgba(127, 103, 25, 0.452);
$color-loading-btn: #c49f26;
$color-spinner-border: rgb(255, 255, 255);
$color-spinner-border-left-top: #8f8e8e;
$color-error-message: rgb(255, 66, 66);
$color-header-forms: #ecefff;
$box-shadow-header: 4px 1px 10px #b6c1ff;
$color-border-close: #8c8eff;
$color-border-ql: #dbdbdb;
$border-ql: 1px solid #dbdbdb;
$color-service-pending: #ffc65d48;
$color-service-pending-text: darken(#ffc65d, 10%);
$gradient-questions-light: linear-gradient(to right, #e4e5ff, darken(#e4e5ff, 5%));
$gradient-questions-dark: linear-gradient(0deg, #12131A, #252531);
$color-table-tbody: #f4f5ff;
$color-table-td: #ddd;

$theme-transition: background-color 0.5s ease, color 0.5s ease,
  box-shadow 0.5s ease, border-color 0.5s ease, background-image 0.5s ease, transform 0.5s ease;

  /*=================(MIXINS)==================*/

@mixin flexbox($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid_layout($columns, $rows, $gap_columns, $gap_rows) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap_columns $gap_rows;
}

@mixin media_query($max_width) {
  @media screen and (max-width: $max_width) {
    @content;
  }
}

@mixin media_query2($max_width) {
  @media screen and (min-width: $max_width) {
    @content;
  }
}

@mixin media_queryHeight($max_height) {
  @media screen and (max-height: $max_height) {
    @content;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  padding-bottom: 10rem;
}

/* Navigation */

.nav {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 1rem 0;
  gap: 1rem;
}

.nav .logo {
  width: 12rem;
}

table {
  border: 1px solid #f5f5f5 !important;
  border-radius: 5px !important;
}

.nav h1 {
  font-size: 1.5rem;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav ul li {
  cursor: pointer;
  color: #000;
}

.nav ul li:hover {
  text-decoration: underline;
}

/* Home */

.home {
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

thead {
  background-color: #000000;
  color: #ffffff;
  height: 3rem;
}

thead tr {
  border-radius: 5px !important;
}

.p-datatable-header-cell {
  padding: 1rem !important;
  border-bottom: none !important;
  font-weight: 600 !important;
}

.p-datatable-tbody > tr > td {
  padding: 1rem !important;
  border-bottom: 1px solid #f5f5f5 !important;
}
.p-datatable-tbody > tr:last-child > td {
  border-bottom: none !important;
  text-wrap: nowrap !important;
}

/** estilizar barra de rolagem */

::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f5f5f5;
}

/* Estilizando os cards do topo */

.group-top-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.top-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: baseline;
  width: 100%;
  border-radius: 10px !important;
  padding: 1rem;
}

.top-card:nth-child(1) {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  color: #fff;
}

.top-card:nth-child(2) {
  background-image: linear-gradient(to right, #ff0000, #ff8000);
  color: #fff;
}

.top-card:nth-child(3) {
  background-image: linear-gradient(to right, #ff00ff, #8000ff);
  color: #fff;
}

.top-card:nth-child(4) {
  background-image: linear-gradient(to right, #00ff00, #80ff00);
  color: #fff;
}

.top-card .p-card-body {
  gap: 2px;
}

.top-card .p-card-body .p-card-content {
  font-size: 2rem;
  font-weight: 800;
}

.card {
  width: 90%;
  height: max-content;
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem 0 1rem 0;
}

.card-2 {
    width: 90%;
    height: max-content;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 10px;
    margin: 2rem 0 1rem 0;
}

canvas {
  width: 100% !important;
  height: 30rem !important;
}

.tab-bottom {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #2c2c2c;
  box-shadow: 10px -4px 10px rgb(0 0 0 / 13%);
  border-radius: 106px 106px 0 0;
  z-index: 100;
}

.tab-bottom-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

.group-button {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff8000,
    #ff0000,
    #ff8000
  );
  position: absolute;
  top: -24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
  border-radius: 50%;
}

.tab-bottom-content .button-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 10px -4px 10px rgb(0 0 0 / 13%);
  background-color: #2c2c2c;
  border: none;
  cursor: pointer;
}

.tab-bottom-content .button-center:hover {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ff8000,
    #ff0000,
    #ff8000
  );
}

.tab-bottom-content .button-center i {
  font-size: 3rem;
  color: #fff;
}

.p-dialog {
  background-color: white !important;
  color: #000 !important;
  padding: 1rem 2rem !important;
  width: 100% !important;
  max-width: 74rem !important;
  margin: 0 auto !important;
}

form {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr ;
}

.p-dialog-header {
  padding: 1rem !important;
}


@keyframes open {
  0% {
    max-width: 11rem;
    opacity: 0;
  }
  100% {
    max-width: 29rem;
    opacity: 1;
  }
}

.container-forgot-password {
  background-color: $body-color;
  min-height: 100vh;
  overflow: hidden;
  @include flexbox(row, center, center, 0);

  &__group {
    background-color: $white-color;
    width: 90%;
    max-width: 11rem;
    height: 35rem;
    border-radius: 17px;
    overflow: hidden;
    @include flexbox(column, flex-start, center, 0);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.062);
    animation: open 1s ease 0s 1 normal forwards;

    &__header {
      width: 100%;
      background-color: $color-header-forms;

      &__group {
        @include flexbox(row, flex-start, center, 8px);
        padding: 10px 10px 10px 20px;
        width: 100%;
        max-width: 15.5rem;
        background-image: linear-gradient(
          to right,
          $color-purple,
          lighten($color-purple, 10%)
        );
        border-radius: 0px 40px 40px 0px;
        box-shadow: $box-shadow-header;
        &__img {
          max-width: 2.5rem;
        }
        &__title {
          font-size: 1.15rem;
          font-weight: 500;
          color: $white-color;
          font-family: $font-family2;
        }
      }
    }

   .texts {
      @include flexbox(column, flex-start, baseline, 11px);
      width: 100%;
      padding: 10px
    }

    &__main {
      @include flexbox(column, flex-start, flex-start, 2.5rem);
      padding: 2.5rem 2rem 3rem 2rem;
      width: 100%;

      &__title {
        font-size: 1.5rem;
        line-height: .8;
        font-weight: 700;
        color: $color-text;
        font-family: $font-family2;
        margin-bottom: 0.5rem;
      }

      &__subtitle {
        font-size: 1.05rem;
        font-weight: 700;
        color: $color-text;
        font-family: $font-family2;
      }

      &__text {
        color: $color-text;
        font-size: .9rem;
        font-weight: 400;
        font-family: $font-family2;
      }

      &__form {
        @include flexbox(column, flex-start, flex-start, 1.5rem);
        width: 100%;

        label {
          @include flexbox(column, flex-start, flex-start, 0.5rem);
          width: 100%;
          position: relative;

          .error-message {
            position: absolute;
            color: $color-error-message;
            font-size: .8rem;
            bottom: -17px;
            font-weight: 400;
            font-family: $font-family2;
          }

          span {
            color: $color-text;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .9em;
            font-family: $font-family2;
          }

          input {
            width: 100%;
            padding: 11px;
            border: 1px solid darken($color-border, 5%);
            border-radius: 5px;
            outline: none;
            font-size: 1rem;

            &::placeholder {
              color: lighten($color-text, 40%);
            }
          }

        }
        &__btn {
          width: 100%;
          padding: 11px;
          border: none;
          border-radius: 10px;
          color: $white-color;
          background-color: $color-purple;
          font-size: 1.1rem;
          font-weight: 600;
          font-family: $font-family2;
          cursor: pointer;
          margin-top: 1rem;
          transition: all 0.4s ease;
          
          &:hover {
            background-color: darken($color-purple, 5%);
          }
        }
      }
      
    }
  }
}

@keyframes rigthBanner2 {
  0% {
    left: 0px;
    right: 50%;
    border-radius: 35px 125px 125px 35px;
  }
  100% {
    right: 0px;
    left: 50%;
    border-radius: 125px 35px 35px 125px;
  }
}

@keyframes leftForm2 {
  0% {
    right: 0px;
    left: 50%;
  }
  100% {
    left: 0px;
    right: 50%;
  }
}

@keyframes rigthBanner {
  0% {
    right: 0px;
    left: 50%;
    border-radius: 125px 35px 35px 125px;
  }
  100% {
    left: 0px;
    right: 50%;
    border-radius: 35px 125px 125px 35px;
  }
}

@keyframes leftForm {
  0% {
    left: 0px;
    right: 50%;
  }
  100% {
    right: 0px;
    left: 50%;
  }
}

/*=================(Login Page)==================*/

.container-login {
  background-color: $body-color;
  min-height: 100vh;
  overflow: hidden;
  @include flexbox(row, center, center, 0);

  &__group {
    position: relative;
    z-index: 9000;
    @include grid_layout(1fr 1fr, 1fr, 0, 0);
    background-color: $white-color;
    height: 35rem;
    width: 95%;
    max-width: 56rem;
    border-radius: 35px;
    box-shadow: 8px 8px 10px $color-shadow;
    overflow: hidden;

    &__banner,
    &__banner2 {
      position: absolute;
      bottom: 0;
      top: 0;
      z-index: 1;
      width: 50%;

      @include flexbox(column, center, center, 1.5rem);
      padding: 2rem;
      text-align: center;
      background-image: $gradient-primary;
      border-radius: 35px 125px 125px 35px;
      color: $white-color;

      &__title {
        font-size: 2.2rem;
        text-shadow: 5px 2px 5px $color-text-shadow;
      }

      &__text {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }

    &__banner {
      animation: rigthBanner 1s ease 0s 1 normal forwards;
    }

    &__banner2 {
      animation: rigthBanner2 1s ease 0s 1 normal forwards;
      &__title {
        font-size: 2rem;
      }
    }

    &__form,
    &__form2 {
      position: absolute; //TODO: posicionamento do banner
      bottom: 0;
      top: 0;
      right: 0;
      width: 50%;

      @include flexbox(column, center, center, 1rem);
      padding: 1rem 3rem;

      .btn-loading {
        background-color: $color-loading-btn;
        width: 100%;
        max-width: 11em;
        border-radius: 8px;
        padding: 7px 0;
        @include flexbox(row, center, center, 0);

        .spinner {
          width: 31px;
          height: 31px;
          border: 3px solid $color-spinner-border;
          border-left-color: $color-spinner-border-left-top;
          border-top-color: $color-spinner-border-left-top;
          border-radius: 50%;
          animation: spin 1s linear infinite;
        }

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

      &__label {
        position: relative;
        @include flexbox(column, center, baseline, 5px);
        width: 100%;
        font-size: 0.9rem;

        .error-message {
          position: absolute;
          bottom: -31px;
          background-color: transparent;
          font-size: 0.7rem;
          text-transform: lowercase;
          color: $color-error-message;
        }

        span {
          text-transform: uppercase;
          color: $color-text;
          font-size: 0.85rem;

        }

        &__input {
          width: 100%;
          border: none;
          padding: 0.7rem 1rem;
          font-size: 1rem;
          border-radius: 8px;
          background-color: $color-input-bg;
          outline: 1px solid $white-color;
          transition: all 0.4s ease;

          &:focus {
            outline: 1px solid $color-focus-outline;
          }

          &::placeholder {
            color: $color-placeholder;
  
          }
        }
      }

      .password-field {
        @include grid_layout(1fr 3rem, 1fr, 0, 0);
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        outline: 1px solid $white-color;
        transition: all 0.4s ease;

        input {
          border-radius: 8px 0 0 8px;
        }

        .password-toggle-btn {
          border: none;
          border-radius: 0 8px 8px 0;
          background-color: $color-input-bg;
          cursor: pointer;

          i {
            font-size: 1.2rem;
            color: $color-text;
          }
        }

        &:focus-within {
          outline: 1px solid $color-focus-outline;
        }
      }

      &__link {
        text-decoration: none;
        color: $color-tertiary;
        border: none;
        background-color: transparent;
        margin: 1rem 0;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(103%);
        }
      }

      &__button-submit {
        background-color: $color-btn-primary;
        border: none;
        padding: 0.9rem 2rem;
        width: 11rem;
        @include flexbox(row, center, center, 0);
        border-radius: 8px;
        text-transform: uppercase;
        color: $white-color;
        cursor: pointer;
        transition: all 0.3s ease;
        font-family: $font-family2;
        font-weight: 500;

        &:hover {
          background-color: darken($color-btn-primary, 3%);
        }
      }
    }

    &__form {
      animation: leftForm 1s ease 0s 1 normal forwards;
    }

    &__form2 {
      animation: leftForm2 1s ease 0s 1 normal forwards;
      gap: 10px;
    }
  }

  .logo-ongold {
    max-width: 14rem;
    margin-bottom: 2rem;
  }
}
